
<!-- <section class="content"> -->

  <div class="row">
  <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"> Nova Despesa </h3>
      </div>
        <%= form_for(despesa) do |f| %>
        <div class="form-horizontal">
        <% if despesa.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(despesa.errors.count, "error") %> prohibited this despesa from being saved:</h2>

            <ul>
            <% despesa.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

            <div class="box-body">
              <div class="form-group">
                <%= f.label :nome, class: "col-sm-2 control-label" %>

                <div clas="col-sm-9">
                  <%= f.text_field :nome %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :descricao, class: "col-sm-2 control-label" %>
                <div clas="col-sm-9">
                  <%= f.text_area :descricao %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :valor, class: "col-sm-2 control-label" %>
                <div clas="col-sm-2">
                    <%= f.text_field :valor %>
                </div>
              </div>

                    <div class="box-footer">
                      <%= f.submit 'Cadastrar', class: "btn btn-primary" %>
                      <%= link_to 'Voltar', despesas_path, class: "btn btn-default" %>
                    </div>
            </div>

            <% end %>
          </div>

        </div>
</div>
<!-- </section> -->
