<section class="content-header">

<h1 class="box-title">Despesas</h1>

<div class="box">
  <div class="box-body no-padding">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Valor</th>
      <!-- <th colspan="2"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= despesa.nome %></td>
        <td><%= despesa.descricao %></td>
        <td><%= despesa.valor %></td>
        <td><%= link_to 'Visualizar', despesa %></td>
        <td><%= link_to 'Editar', edit_despesa_path(despesa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="box-footer">
<%= link_to 'Nova Despesa', new_despesa_path, class: "btn btn-primary" %>
</div>
</div>
</div>



</section>
<!-- <td><%#= link_to 'Destroy', despesa, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
