<%# form_for(pedido) do |f| %>
<!-- <section class="content"> -->

<div class="row">
  <div class="box box-info">

<div class="box-header with-border">
    <h3 class="box-title"> Novo pedido </h3>
</div>




<%= nested_form_for(pedido) do |f| %>
<div class="form-horizontal">

  <% if pedido.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box-body">


<div class="form-group">

    <label class="col-sm-2 control-label"> Cliente </label>
  <%#  @cliente = Cliente.all %>

    <%#= f.collection_select :cliente_id, @clientes, :id, :nome, {:include_blank => true}, {class: "dropdown-menu"} %>
    <%= f.collection_select( :cliente_id, Cliente.all, :id, :nome, {include_blank: "Selectione o cliente"}, {class: "col-sm-9 select2 select2-accessible"} )%>
</div>
    <div class="form-group">

<%= f.fields_for :items do |li| %>
   <%= li.collection_select :produto_id, Produto.all, :id, :nome,{include_blank: "Selecione o produto"} %>
   <%= li.text_field :quantidade, placeholder: 'Quantidade' %>
   <%= li.link_to_remove "Remover ítem", class: "control-label" %>
  <% end %>
<%# p = @pedidos.sum &:total %>

<%= f.link_to_add "Adicionar item", :items, class: "col-sm-2 control-label" %>
</div>
<div class="box-footer">

    <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', pedidos_path, class: "btn btn-default" %>

  </div>

  <% end %>

</div>
</div>
</div>
</div>
<!-- </section> -->
